.tab-area {
  width: 340px;
  float: left;
}

.tabinput { 
  display: none;
}

.tab-link {
  font-size: 10px;
  font-family:arial;
  cursor: pointer;
  color: #385446;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  width: 55px;
  padding: 3px 0;
  margin: 0px 2px 0px 0px;
  
  text-align: center;
  background: #8bce93;
  border: 1px solid #bbb;
  border-radius: 8px 16px 0px 0px;
  border-left: 0;
  border-bottom: 0;
}

.tab-link:hover {
  background: #a1e9ac;
}

.tab-link:nth-of-type(1) {
  border-left: 1px solid #bbb;
}

.tab {
  clear: both;
  background: #7aa881;
  padding: 0px 5px;
  display: none;
  min-height: 180px;
  border: 1px solid #bbb;
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

#tab-C:checked ~ label:nth-of-type(3),
#tab-B:checked ~ label:nth-of-type(2),
#tab-B:not(:checked) ~ #tab-C:not(:checked) ~ label:nth-of-type(1) {
  background: #7aa881;
}

#tab-C:checked ~ label:nth-of-type(3):after,
#tab-B:checked ~ label:nth-of-type(2):after,
#tab-B:not(:checked) ~ #tab-C:not(:checked) ~ label:nth-of-type(1):after {
  position: absolute;
  content: "";
  margin: 5px 0 0 0;
  width: 55px;
  height: 1px;
  display: block;
  background: #7aa881;
}

/* Checked Tabs */

.tabs-checked input:nth-of-type(2):not(:checked) ~ input:nth-of-type(3):not(:checked) ~ .tab:nth-of-type(1),
.tabs-checked input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
.tabs-checked input:nth-of-type(3):checked ~ .tab:nth-of-type(3) 
{
  display: block;
}

